<h1>New Sub</h1>

<form action="<%= subs_url %>" method="POST">
  <%= auth_token %>

  <label>Title:
    <input type="text" name="sub[title]" id="Title" value="<%= @sub.title %>" />
  </label>
  <br />

  <label>Description:
    <input type="text" name="sub[description]" id="Description"  value="<%= @sub.description %>" />
  </label>
  <br />

  <input type="submit" value="Create New Sub" />
</form>
