<li>
  <%= comment.content %>
  <br />
  By <%= comment.author.username %>
  <br />
  <%= link_to "Detail", comment_url(comment) %>
  <br />
  <br />

  <ul>
    <% @comments_by_parent_id[comment.id].each do |child| %>
    <%= render "comment", comment: child  %>
    <% end %>
  </ul>
</li>
