<li>
  <%= comment.content %>
  <br />
  By <%= comment.author.username %>
  <br />
  <%= link_to "Detail", comment_url(comment) %>
  <br />
  <br />
  <ul>
<% @all_comments.each do |c2| %>
  <% if c2.parent_comment_id == comment.id %>
    <%= render "comment", comment: c2  %>
  <% end %>
<% end %>
  </ul>
</li>
